@model LoginViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    ViewBag.Title = @localizer["UserLogin"];
}

<h1>@localizer["UserLogin"]</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">@localizer["Email"]</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">@localizer["Password"]</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @localizer["RememberMe"]
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">@localizer["Login"]</button>
        </form>
    </div>
</div>