@model WorkBoard.Models.Task
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;
@using WorkBoard.Models;
@{
    ViewData["Title"] = @localizer["Details"];
}

<h1>@localizer["Details"]</h1>

<div>
    <h4>@localizer["Task"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @localizer["TaskID"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.task_id)
        </dd>
        <dt class="col-sm-2">
            @localizer["User"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
        <dt class="col-sm-2">
            @localizer["TaskName"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.task_name)
        </dd>
        <dt class="col-sm-2">
            @localizer["Status"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class="col-sm-2">
            @localizer["Description"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @localizer["Team"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.team)
        </dd>
        <dt class="col-sm-2">
            @localizer["CreationDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.creation_date)
        </dd>
        <dt class="col-sm-2">
            @localizer["DeadlineDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.deadline_date)
        </dd>
        <dt class="col-sm-2">
            @localizer["ModificationDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.modification_date)
        </dd>
    </dl>
</div>
<div class="d-flex align-items-center">
    <a asp-action="Index" class="mr-3 align-middle" title="@localizer["Back"]"><i class="bi bi-arrow-left-square mr-2 text-primary" style="font-size:24px;"></i></a>
    <a asp-action="Edit" asp-route-id="@Model.task_id" class="align-middle" title="@localizer["Edit"]"><i class="bi bi-pencil-square text-warning" style="font-size:24px;"></i></a>
</div>
