@model IEnumerable<WorkBoard.Models.Task>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    ViewData["Title"] = localizer["FilteredTitle"];
}

<h1>@localizer["FilteredTitle"]</h1>

<p>
    <a asp-action="Create">@localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @localizer["User"]
            </th>
            <th>
                @localizer["TaskName"]
            </th>
            <th>
                @localizer["Status"]
            </th>
            <th>
                @localizer["Description"]
            </th>
            <th>
                @localizer["Team"]
            </th>
            <th>
                @localizer["CreationDate"]
            </th>
            <th>
                @localizer["DeadlineDate"]
            </th>
            <th>
                @localizer["ModificationDate"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.team)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deadline_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modification_date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.task_id">@localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.task_id">@localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.task_id">@localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
