@model IEnumerable<WorkBoard.Models.Task>

@{
    ViewData["Title"] = "Lista tasków";
}

<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1>TASKS</h1>
        <h4 >
            <a asp-action="Create">
                 <input type="submit" value="Create Task" class="btn btn-dark font-weight-bold" />
            </a>
        </h4>

    </div>
</div>

@if (TempData["message"] != null)
{
    <h3 class="text-info">@TempData["message"]</h3>
}


<div class="overflow-auto">
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.task_id)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.user_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task_name)
            </th>

            <th class="w-25">
                @Html.DisplayNameFor(model => model.status)
            </th>

            @*<th>
            @Html.DisplayNameFor(model => model.description)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.team)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.creation_date)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.deadline_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modification_date)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.task_id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.user_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task_name)
                </td>
                <td class="align-items-center">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: @Html.DisplayFor(modelItem => item.status)%" aria-valuenow="@Html.DisplayFor(modelItem => item.status)" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.team)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.creation_date)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.deadline_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modification_date)
                </td>
                <td>
                    <div class="d-flex">
                        <a asp-action="Edit" asp-route-id="@item.task_id"><i class="bi bi-pencil-square" style="font-size:18px;"></i></a>
                        <a asp-action="Details" asp-route-id="@item.task_id"><i class="bi bi-info-square-fill" style="font-size:18px; padding: 0px 6px 0px 8px;"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.task_id"><i class="bi bi-trash-fill" style="font-size: 18px;"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

@section ScriptsHeader{
    <script>
         //alert(new Date())
    </script>
}
