@model IEnumerable<WorkBoard.Models.Task>;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    ViewData["Title"] = "Lista tasków";
}

<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1>@localizer["Tasks"]</h1>
        <h4 >
            <a asp-action="Create">
                 <input type="submit" value="Create Task" class="btn btn-dark font-weight-bold" />
            </a>
        </h4>

    </div>
</div>

@if (TempData["message"] != null)
{
    <h3 class="text-info text-dark">@TempData["message"]</h3>
}


<div class="overflow-auto">
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.task_id)
        </th>*@
            <th>             
                @*@Html.DisplayNameFor(model => model.team)*@
                zespół
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task_name)
            </th>

            <th class="w-25">
                @Html.DisplayNameFor(model => model.status)
            </th>

            @*<th>
            @Html.DisplayNameFor(model => model.description)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.creation_date)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.deadline_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modification_date)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.task_id)
        </td>*@
            <td class="align-middle">
                <span class="font-weight-bold">@Html.DisplayFor(modelItem => item.team)</span>
            </td>
            <td class="align-middle">
                @{ 
                    var random = new Random();
                    var color = String.Format("#{0:X6}", random.Next(0x1000000) & 0x7F7F7F);
                }
                <div class="d-flex text-white rounded-circle align-items-center justify-content-center shadow-sm" style="width:35px; height:35px; background-color: @color;">
                    <div class="font-weight-bold">@Html.DisplayFor(modelItem => item.user_id)</div>
                </div>
                
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.task_name)
            </td>
            <td class="align-middle">
                <div class="progress">
                    @{
                        int status = Int32.Parse(item.status);
                        string statusColor;
                        if (status <= 30)
                        {
                            statusColor = "danger";
                        }
                        else if (status > 30 && status <= 60)
                        {
                            statusColor = "warning";
                        }
                        else if (status > 60 && status < 100)
                        {
                            statusColor = "info";
                        }
                        else
                        {
                            statusColor = "success";
                        }
                    }
                    <div class="progress-bar @("bg-" + statusColor)" role="progressbar" style="width: @(status + "%")" aria-valuenow="@(status)" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.description)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.creation_date)
        </td>*@
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.deadline_date)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.modification_date)
            </td>
            <td class="align-middle">
                <div class="d-flex">
                    <a asp-action="Edit" asp-route-id="@item.task_id" title="@localizer["Edit"]"><i class="bi bi-pencil-square text-warning" style="font-size:19px;"></i></a>
                    <a asp-action="Details" asp-route-id="@item.task_id" title="Info"><i class="bi bi-info-square-fill text-info" style="font-size:19px; padding: 0px 9px 0px 9px;"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.task_id" title="Done"><i class="bi bi-check-square-fill text-success" on style="font-size: 19px;"></i></a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>

@section ScriptsHeader{
    <script>
         //alert(new Date())
    </script>
}
