@model IEnumerable<WorkBoard.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.task_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deadline_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modification_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.task_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.task_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creation_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deadline_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modification_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.task_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.task_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.task_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
