@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@{
    ViewData["Title"] = "Home Page";
}
<section class="h-100 justify-content-lg-center">
    <div class="text-center mt-3 mb-5">
        <div>
            <h1 class="display-4">WORKBOARD</h1>
        </div>

    </div>

    <article id="menage" class="container mb-5 h-100 row justify-content-center">
        <div class="align-content-start">
            <h4>@localizer["Art1Head"]</h4>
            <span>@localizer["Art1Body"]</span>
        </div>
        <div>
            <img src="~/Assets/HomeImg/Art1Img.png" alt="Tasks Img" class="img-fluid"/>
        </div>
    </article>

    <article id="workspace" class="container mb-5 h-100 row justify-content-center">
        <div class="align-content-start">
            <h4>@localizer["Art2Head"]</h4>
            <span>@localizer["Art2Body"]</span>
        </div>
        <div>
            <img src="~/Assets/HomeImg/Art2Img.png" alt="Workspace Img" class="img-fluid"/>
        </div>
    </article>

    <article id="visualize" class="container mb-5 h-100 row justify-content-center">
        <div class="align-content-start">
            <h4>@localizer["Art3Head"]</h4>
            <span>@localizer["Art3Body"]</span>
        </div>
        <div>
            <img src="~/Assets/HomeImg/Art3Img.png" alt="Visualize Img" class="img-fluid" />
        </div>
    </article>

</section>

<footer class="footer text-muted w-auto">
    <div class="d-flex container">
        &copy; WorkBoard @DateTime.Now.Year
        <partial name="_Culture" />
    </div>
</footer>
